@import '../../../styles/abstracts/variables.scss';

.receiptDisplayWrapper {
  position: relative;
  $border-config: 1px solid grey;
  $border-radius: 5px;
  $active-color: lightgrey;

  .receiptButtonDiv {
    .buttonActive {
      background: $active-color;
    }
    .buttonRight {
      border-left: none;
      border-top-right-radius: $border-radius;
    }
    .buttonLeft {
      border-right: none;
      border-top-left-radius: $border-radius;
    }
    button {
      width: 50%;
      padding: 0.5rem;
      cursor: pointer;
      border: $border-config;
      background: lighten($active-color, 10%);
      border-bottom: none;
      transition: background 0.2s linear;
      font-weight: 600;
      &:focus {
        outline: none;
      }
      &:hover {
        background: $active-color;
      }
    }
  }
  .receiptInfoWrapper {
    border: $border-config;
    border-radius: 0 0 $border-radius $border-radius;
    height: 400px;
    .receiptJSON {
      margin: 0;
      font-family: 'Consolas', ui-monospace, monospace;
    }
    .receiptTable {
      text-align: left;
      margin: 0.75rem 0;
      width: 100%;
      border-top: $border-config;
      border-bottom: $border-config;
      .totalCell {
        text-align: right;
      }
    }
    .receiptHeader {
      margin-bottom: 0.25rem;
      font-weight: 600;
    }
  }

  .receiptTextFormat {
    padding: 1rem 0.5rem;
    overflow-y: auto;
  }
}
