@import '../../../styles/abstracts/variables.scss';

.receiptDisplayWrapper {
  position: relative;
  $border-config: 1px solid grey;
  $border-radius: 5px;
  $active-color: lightgrey;
  
  .receiptInfoWrapper {
    border: $border-config;
    border-color: $primary-color;
    height: 400px;
    .receiptJSON {
      margin: 0;
      font-family: 'Consolas', ui-monospace, monospace;
    }
    .receiptTable {
      text-align: left;
      margin: 0.75rem 0;
      width: 100%;
      border-top: $border-config;
      border-bottom: $border-config;
      .totalCell {
        text-align: right;
      }
    }
    .receiptHeader {
      margin-bottom: 0.25rem;
      font-weight: 600;
    }
  }

  .receiptTextFormat {
    padding: 1rem 0.5rem;
    overflow-y: auto;
  }
}
