@import '../../../styles/abstracts/variables';

.btn {
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 50px;
  background-color: $white-bg;
  font-size: inherit;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: darken($white-bg, 10%);
  }
  &:disabled {
    background-color: lighten($white-bg, 50%);
  }

  &.primary {
    background-color: $primary-color;
    color: $white-text;

    &:hover,
    &:focus {
      background-color: darken($primary-color, 10%);
    }
    &:disabled {
      background-color: lighten($primary-color, 50%);
      cursor: not-allowed;
    }
  }

  &.secondary {
    background-color: $secondary-color;
    color: $primary-color;

    &:hover,
    &:focus {
      background-color: darken($secondary-color, 10%);
    }
    &:disabled {
      color: desaturate(lighten($primary-color, 30%), 65%);
      background-color: lighten($secondary-color, 30%);
      cursor: not-allowed;
    }
  }

  &.rounded {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
    color: $white-text;
  }
}
