.codeSnippetContainer {
  position: relative;
  overflow-y: auto;
  height: inherit;

  .receiptButtonCopy {
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    align-items: center;
    background: rgba(black, 0.3);
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    top: 1rem;
    float: right;
    margin-right: 1rem;
    z-index: 5;
    height: 2.5rem;
    cursor: pointer;
    padding: 0.5rem;
    transition: all 0.1s linear;
    .imagePadding {
      padding: 0.5rem 0;
    }
    div {
      display: block !important;
    }
    &:hover {
      background: rgba(black, 0.6);
    }
  }
}
