@import '../../../styles/abstracts/variables';
@import '../../../styles/abstracts/mixins';

.horizontalCard {
  width: 100%;

  .card {
    overflow: hidden;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .title {
    text-align: left;
  }
}
