.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 5rem;
  min-height: 30vw;
}

.title {
  margin: 0;
  padding-bottom: .5rem;
  font-size: 3rem;
}

.desc {
  font-size: 1.25rem;
  padding: 0;
}
