@import '../../../styles/abstracts/variables';
.content {
  border-radius: 25px;
  background-color: $white-bg;
  padding: 3rem 1.5rem;
  height: 100%;
  h3 {
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  &.primary {
    background-color: $primary-color;
  }

  &.secondary {
    background-color: $secondary-color;
  }

  &.tertiary {
    background-color: $tertiary-color;
  }
}
