@import '../abstracts/mixins';
@import '../abstracts/variables';

* {
  box-sizing: border-box;
  font-family: $secondary-font;
}
h1,
h2,
h3 {
  font-weight: 700;
  font-family: $primary-font;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
  background-color: $white-bg;
  @include phone {
    font-size: 12px;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  margin: 0;
  text-decoration: none;
  color: inherit;
  &:hover {
    color: inherit;
  }
}

pre,
code {
  font-family: $code-snippet-font;
  margin: 0;
  padding: 0.5rem 0;
  overflow-y: auto;
  background: none !important;
  span {
    font-family: $code-snippet-font;
  }
}
// Custom scrollbar (for Webkit and Chromium browsers only)
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
