@import '../abstracts/mixins';
@import '../abstracts/variables';

pre,
code {
  font-family: $code-snippet-font;
  margin: 0;
  padding: 0.5rem 0;
  overflow-y: auto;
  background: none !important;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
  span {
    font-family: $code-snippet-font;
  }
}
