.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);

  .modal {
    background: white;
    width: 500px;
    height: 600px;
    border-radius: 15px;
    padding: 15px;

    .header {
      display: flex;
      justify-content: flex-end;
      font-size: 25px;
    }
    .body {
      padding-top: 10px;
    }
  }
}
