@import '../../../styles/abstracts/variables';
@import '../../../styles/abstracts/mixins';

.card {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 400px;
  border-radius: 20px;
  color: whitesmoke;
  transition: all 0.2s;
  background: linear-gradient($primary-color, $primary-color);
  margin: auto;

  .imgContainer {
    margin-top: 10px;
    position: relative;
    width: 100%;
    height: 50%;
  }
  &:hover {
    transform: scale(1.025);
    opacity: 0.9;
  }
  @include tablet {
    &:hover {
      transform: unset;
    }
  }
  a {
    color: transparent;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: ' ';
    }
  }
}
