@import '../../../styles/abstracts/variables';

.card {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 400px;
  border-radius: 20px;
  color: whitesmoke;
  padding: 1.5rem;
  transition: all 0.2s;
  background: linear-gradient($primary-color, $primary-color);
  margin: auto;

  .image {
    opacity: 0.5;
  }

  .body {
    position: absolute;
    bottom: 20px;
    h3 {
      font-size: 1.4rem;
    }
  }

  &:hover {
    transform: scale(1.025);

    .image {
      opacity: 1;
    }
  }

  a {
    color: transparent;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: ' ';
    }
  }
}
