@import '../../../styles/abstracts/mixins';
@import '../../../styles/abstracts/variables';

.tabTitle {
  width: 100%;
  button {
    width: 100%;
    padding: 0.5rem 2rem;
    cursor: pointer;
    border: 1px solid $primary-color;
    background-color: $white-bg;
    border-bottom: none;
    transition: 0.2s ease;
    font-weight: 600;
    color: $primary-color;
    &:focus {
      outline: none;
    }
    &:hover {
      background: $primary-color;
      color: $white-text;
    }
    &.active {
      background-color: $primary-color;
      color: $white-text;
    }
  }
}
