@import '../../../styles/abstracts/variables';
@import '../../../styles/abstracts/mixins';

.warningDivWrapper {
  color: $primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 1rem;
  margin: 0.5rem auto;
  * + * {
    margin-left: 0.75rem;
  }
  @include phone {
    width: 80%;
  }
}

.warningDivWrapperActive {
  border: 1px solid $primary-color;
  border-radius: 4px;
}
