@import 'swiper/css';
@import 'swiper/css/pagination';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-font: 'Montserrat', sans-serif;
  --secondary-font: 'Hind', sans-serif;
  --code-snippet-font: 'Consolas', ui-monospace, monospace;

  --primary-color: #4c12a1;
  --secondary-color: #45e5b7;
  --tertiary-color: #439dff;
  --quaternary-color: #eb5e3f;
  --error-text: #bf1650;
  --white-text: #fdfdfd;
  --grey-text: #5f6368;
  --white-bg: #fdfdfd;
}

@layer components {
  .title-line {
    @apply font-extrabold text-2xl md:text-3xl text-primary-500 
    text-center relative mb-8 sm:mb-12 after:block after:w-24 after:rounded-full
    after:h-[3px] after:bg-secondary-500 after:absolute after:top-[120%] after:left-1/2
    after:-translate-x-1/2 after:-translate-y-1/2;
  }
  .section-padding {
    @apply pt-8 pb-7 sm:pt-14 sm:pb-12;
  }
  .custom-swiper-slide {
    @apply w-4/5 sm:w-11/12;
  }
}
.swiper-pagination-bullet-active {
  background: rgb(69 229 183) !important;
}
.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
}

pre,
code {
  font-family: 'Consolas', ui-monospace, monospace;
  margin: 0;
  padding: 0.5rem 0;
  overflow-y: auto;
  background: none !important;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
code::-webkit-scrollbar {
  display: none;
}
code span {
  font-family: 'Consolas', ui-monospace, monospace;
}
