@import '../../../styles/abstracts/variables';

.carousel {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.background {
  position: relative;
  width: inherit;
  height: inherit;
  background: linear-gradient($primary-color, $primary-color);
  display: none;
}

.card {
  position: absolute;
  left: 10vw;
  top: 30vh;
}

.next {
  position: absolute;
  right: 5vw;
  top: 50vh;
}

.prev {
  position: absolute;
  left: 5vw;
  top: 50vh;
}

.active {
  display: block;
}

.image {
  opacity: 0.5;
}

.dot {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dotItem {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 5px;
  background: $white-bg;
  cursor: pointer;
}

.dotActive {
  background: $secondary-color;
  cursor: auto;
}
