@import '../../../styles/abstracts/mixins';
@import '../../../styles/abstracts/variables';

.dropzoneOptions {
  width: 100%;
  .errorMsg {
    text-align: center;
  }
  .imagePreview {
    width: inherit;
    height: inherit;
  }

  .instruction {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: inherit;
    p {
      width: 80%;
      cursor: pointer;
      text-align: center;
      margin: auto;
    }
  }

  .previewNOptions {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;

    * + * {
      margin-left: 2rem;
    }

    @include tablet {
      flex-direction: column;
      align-items: flex-start;
      width: 80%;
      * + * {
        margin-left: 0;
        margin-top: 2rem;
      }
    }

    .dropzoneContainer {
      width: 600px;
      height: 360px;
      position: relative;
      outline: 2px solid silver;
      margin-left: 3rem;
      &:hover {
        background: ghostwhite;
      }
      @include tablet {
        margin-left: unset;
        width: 100%;
      }
    }
    .imageOptions {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      
      * + * {
        margin-top: 1rem;
      }

      @include tablet {
        flex-direction: row;
        width: 100%;
        * + * {
          margin-top: 0;
          margin-left: 1rem;
        }
      }

      .items {
        width: 60px;
        height: 60px;
        position: relative;
        cursor: pointer;
        &:hover {
          outline: 4px solid $primary-color;
        }
      }
    }
  }
}
