.phoneNumber {
  display: block;
}

.buttonWrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.resultWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0;
  gap: 1.5rem;

  .balance {
    margin: 0;
    font-size: 1.5rem;
  }

  h2 {
    margin: 0.5rem;
    font-size: 2rem;
  }

  p {
    margin: 0.5rem;
    font-size: large;
  }
}

.danger {
  color: crimson;
  font-size: large;
}
