@import '../../../styles/abstracts/variables';

.card {
  width: 300px;
  overflow: hidden;
  border-style: solid;
  border-color: $white-bg;
  border-radius: 30px;
  color: $grey-text;
  position: relative;
  margin: auto;

  &.primary {
    border-color: $primary-color;
    color: $white-text;
  }

  &.secondary {
    border-color: $secondary-color;
    color: $primary-color;
  }

  &.tertiary {
    border-color: $tertiary-color;
    color: $primary-color;
  }
}
