@import '../../../styles/abstracts/mixins';
@import '../../../styles/abstracts/variables';

.footer {
  background-color: $primary-color;
  color: $white-text;
  padding: 4rem 0 2rem 0;
  .imgContainer {
    position: relative;
    width: 80px;
    height: 80px;
  }
  .container {
    width: 80%;
    margin: auto;
    .info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include tablet {
        flex-direction: column;
      }
      .col1 {
        width: 30%;
        margin-right: 2rem;
        .imgContainer {
          width: 150px;
        }
        @include tablet {
          width: 100%;
        }
        @include phone {
          margin-right: unset;
        }
        p {
          &:nth-child(3) {
            color: $secondary-color;
            font-weight: 600;
          }
        }
      }
      .col2 {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .awardsAndRecognitions {
          width: 50%;
          margin: 0 1rem;
          display: flex;
          flex-direction: column;
          @include tablet {
            margin: unset;
          }
          @include phone {
            width: 100%;
          }
          .recognitions {
            display: flex;
            position: relative;
            justify-content: space-between;
            margin-left: -1rem;
          }
          .awards {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .imgContainer {
              margin-right: 1rem;
            }
          }
        }
        .links {
          display: flex;
          @include phone {
            width: 100%;
          }
          .imgContainer {
            height: 50px;
          }
          .col {
            a {
              display: block;
              margin: 12px 0;
              &:hover {
                text-decoration: underline;
              }
            }
            &:nth-child(1) {
              margin-right: 5rem;
            }
          }
        }
      }
    }
    .sosmed {
      display: flex;
      justify-content: center;
      column-gap: 1rem;
      margin-top: 2rem;
      .icon {
        cursor: pointer;
      }
    }
  }
}
