@import '../../../styles/abstracts/mixins';
@import '../../../styles/abstracts/variables';
.resultsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .field {
    width: 100%;
    padding: 4px;
    margin-right: 12px;
    display: flex;
    align-items: center;
    .boundingBoxContainer {
      width: 40px;
      height: 40px;
      position: relative;
      margin-right: 1rem;
    }
    .label {
      font-weight: 600;
      margin: 0 0 4px 0;
      font-size: 0.8rem;
      font-family: $primary-font;
    }
    .result {
      margin: 0;
      font-size: 1.2rem;
      font-family: $secondary-font;
    }
    margin-bottom: 8px;
  }
}
