.result{
  margin: 2rem 0;
  width: 100%;
}

.resultImage {
  position: relative;
  min-height: 360px;
  min-width: 480px;
}

.resultFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  padding: 0;
}

.resultInfo {
  li {
    list-style: none;
  }
}