@import '../../../styles/abstracts/mixins';
.menuWrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
  align-items: center;

  .buttonWrapper {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    * + * {
      margin-left: 2.5rem;
      margin-top: 0;
    }
    @include phone {
      flex-direction: column;
      * + * {
        margin-top: 1.5rem;
        margin-left: 0;
      }
    }
  }
}
