@import '../../../styles/abstracts/mixins';
.menuWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  text-align: center;
  align-items: center;

  .buttonWrapper {
    display: flex;
    flex-direction: row;
    * + * {
      margin-left: 2.5rem;
    }
    @include phone {
      flex-direction: column;
      * + * {
        margin-top: 1.5rem;
      }
    }
  }
}
