@import '../../../styles/abstracts/variables.scss';
@import '../../../styles/abstracts/mixins';
.form {
  .divide {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include phone {
      flex-direction: column;
    }
    .divideLeft {
      width: 47%;
      @include phone {
        width: unset;
      }
    }
    .divideRight {
      width: 47%;
      @include phone {
        width: unset;
      }
    }
  }
  .errorMessage {
    color: $error-text;
    margin-bottom: 18px;
  }
  .buttonContainer {
    width: 30%;
    min-width: 130px;
    margin: auto;

    .submitButton {
      width: 100%;
      padding: 12px 0;
    }
  }
  .terms {
    display: flex;
    align-items: flex-start;
    label {
      font-weight: 400;
      a {
        color: #0645ad;
        cursor: pointer;
        font-weight: 500;
      }
    }
    input {
      width: 1.25rem;
      height: 1.25rem;
      margin-right: 1rem;
      flex-shrink: 0;
      cursor: pointer;
    }
  }
}

.termsAndConditionsModal {
  padding: 1rem;
  .body {
    overflow-y: auto;
    height: 75vh;
    padding-right: 0.5rem;
    a {
      color: #0645ad;
      cursor: pointer;
      font-weight: 600;
      text-decoration: underline;
    }
    p:nth-child(even) {
      font-style: italic;
    }
  }
}
