@import '../../../styles/abstracts/mixins';
@import '../../../styles/abstracts/variables';

.container {
  width: 100%;
  .content {
    position: relative;
    .webcamContainer {
      border: 2px solid $primary-color;
      border-radius: 25px;
      position: relative;
      .webcam {
        max-height: 400px;
        border-radius: 20px;
      }
      .overlayImg {
        opacity: 0.5;
        border-radius: 20px;
      }
    }
    .capturedPhoto {
      border-radius: 20px;
      max-height: 400px;
    }
    &.flash {
      animation: blinker 1s linear 0s;
    }

    @keyframes blinker {
      50% {
        opacity: 0;
      }
    }
  }

  & video {
    width: 100%;
    display: block;
  }
}

.btnGroup {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
}

.btn {
  width: 40%;
}
