@import '../../../styles/abstracts/mixins.scss';

.facePaymentPageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 640px;
  padding: 2rem 0 5rem 0;

  @include phone {
    width: 95%;
    margin: 0 auto;
  }

  .welcome {
    text-align: center;
    h2 {
      font-size: 2rem;
    }

    .specialInstruction {
      background-color: #ffbb00;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      margin: 2rem auto;
      height: min-content;
      width: 55%;
      @include phone {
        width: 100%;
      }

      .desc {
        margin: 1rem;
        font-size: large;
      }
    }
  }
}
