@import '../../../styles/abstracts/variables';
@import '../../../styles/abstracts/mixins';

.review {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
  width: 45%;
  margin: 2.5rem auto 0 auto;
  padding: 1rem 1.5rem;
  h3 {
    margin: auto;
    color: $primary-color;
  }
  @include tablet {
    width: 70%;
  }
  @include phone {
    width: 85%;
  }
  .starFlex {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 1rem auto;
  }

  .star {
    width: 2.8rem;
    height: auto;
    cursor: pointer;
  }

  .idle {
    svg {
      fill: darken($white-bg, 7%);
      transition: fill 0.2s;
      &:hover {
        fill: darken($white-bg, 12%);
      }
    }
  }

  .colored {
    svg {
      fill: $secondary-color;
      transition: fill 0.2s;
      &:hover {
        fill: darken($secondary-color, 10%);
      }
    }
  }
  .commentLabel {
    text-align: center;
  }
  .comment {
    padding: 1rem;
    resize: none;
    height: 140px;
    border-radius: 0.25rem;
    &:focus {
      outline: none;
      border-color: $primary-color;
    }
  }

  .buttonWrapper {
    width: 30%;
    margin: auto;
    @include phone {
      width: 100%;
    }
    button {
      width: 100%;
    }
  }
}

.thankYou {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  gap: 1rem;
  text-align: center;
  h3 {
    margin: auto;
    color: $primary-color;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1rem;
  }
}

.ratingError {
  text-align: right;
  font-weight: 600;
  color: #bf1650;
}
