@import '../../../styles/abstracts/mixins';
.container {
  padding: 1rem 0 5rem 0;
  @include tablet {
    padding-bottom: 3rem;
  }
  .dropzoneNButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    .buttonContainer {
      margin-top: 2rem;
    }
  }

  .loadingState {
    text-align: center;
  }
}
