@import '../../../styles/abstracts/variables';
@import '../../../styles/abstracts/mixins';

.navbar {
  flex: 1;
  height: 70px;
  background: linear-gradient(270deg, #240a50 0%, #7f4fa8 100%);

  z-index: 300;
  text-transform: uppercase;
  font-family: $secondary-font;
  width: 100%;
  position: fixed;
  &.plainNavbar {
    background: unset;
    background-color: $primary-color;
  }
  &.scrolled {
    box-shadow: rgba(#200449, 0.2) 0px 8px 24px;
  }

  .container {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .imageContainer {
      width: 200px;
      height: 100%;
      cursor: pointer;
      padding-top: 2px;
      position: relative;
      @include phone {
        max-width: 120px;
      }
    }
    .hamburgerButton {
      height: 2rem;
      width: 2rem;
      position: relative;
      display: none;
      border: none;
      background: transparent;
      outline: none;
      cursor: pointer;
      &:after {
        content: '';
        display: block;
        position: absolute;
        height: 150%;
        width: 150%;
        top: -25%;
        left: -25%;
      }
      @include tablet {
        display: block;
      }
      .lines {
        top: 50%;
        margin-top: -0.125em;
        &,
        &:after,
        &:before {
          height: 2px;
          pointer-events: none;
          display: block;
          content: '';
          width: 100%;
          background-color: $white-text;
          position: absolute;
        }

        &:after {
          /* Move bottom line below center line */
          top: -0.6rem;
        }

        &:before {
          /* Move top line on top of center line */
          top: 0.6rem;
        }
      }
    }
    ul {
      display: flex;
      list-style: none;
      color: $white-text;
      font-weight: 600;
      @include tablet {
        z-index: 300;
        position: fixed;
        right: 0;
        top: 0;
        height: 120%;
        flex-direction: column;
        padding: 20vh 3rem;
        transition: 0.2s ease-out;
        transform: translateX(100%);
        color: $primary-color;
        font-weight: 700;
        font-size: 1.2rem;
        background-color: $secondary-color;
        &.openDrawer {
          transform: translateX(0%);
        }
      }

      li {
        display: flex;
        align-items: center;
        padding-left: 4rem;
        cursor: pointer;
        @include tablet {
          padding: 1.5rem 0;
          &:hover {
            color: unset;
          }
        }
        a {
          padding: 1rem 0;
          @include tablet {
            padding: unset;
          }
        }
      }
      .contactUs {
        @include tablet {
          padding-left: unset;
        }
        .btn {
          transition: 0.3s ease;
          padding: 12px 20px;
          font-weight: 700;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
            rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
          @include tablet {
            background-color: $primary-color;
            color: $secondary-color;
          }
        }
      }
    }
  }
}
