@import '../../../styles/abstracts/variables';
@import '../../../styles/abstracts/mixins';

.carousel {
  width: 100%;
  height: 100%;
  position: relative;
  .slide {
    position: relative;
    display: none;
  }

  .slideActive {
    display: block;
  }

  .next {
    position: absolute;
    right: 5vw;
    top: 50vh;
    @include phone {
      top: 90vh;
    }
  }

  .prev {
    position: absolute;
    left: 5vw;
    top: 50vh;
    transform: scaleX(-1);
    @include phone {
      top: 90vh;
    }
  }

  .dot {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;

    .dotItem {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      margin: 0 5px;
      background: $white-bg;
      cursor: pointer;
    }
    &.vertical {
      bottom: 50%;
      left: unset;
      right: 5%;
      transform: translate(-50%, 50%);
      flex-direction: column;

      .dotItem {
        margin: 5px 0;
      }
    }
    .dotActive {
      background: $secondary-color;
      cursor: auto;
    }
  }
}
