@import '../../../styles/abstracts/mixins';
@import '../../../styles/abstracts/variables';

.intro {
  background: $primary-color;
  padding: 2rem 8rem;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  align-items: center;
  justify-content: space-evenly;
  color: $white-text;
  @include tablet {
    padding: 2rem 3rem;
  }
  .texts {
    margin-top: 70px;
    max-width: 600px;
    padding-bottom: 1rem;
  }
}
