@import '../../../styles/abstracts/mixins';
@import '../../../styles/abstracts/variables';

.banner {
  background: $primary-color;
  padding: 2rem 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 360px;
  color: $white-text;
  .container {
    width: 90%;
    margin: auto;
    display: flex;
    .texts {
      margin-top: 70px;
      align-items: center;
      width: 50%;
      max-width: 700px;
      padding-bottom: 1rem;
      @include tablet {
        width: 60%;
      }
      @include phone {
        width: 90%;
      }
      p {
        font-size: 1.1rem;
      }
    }

    .descriptions {
      text-align: justify;
    }
  }
}
