@import '../../../styles/abstracts/mixins';

.result {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 4rem;
  @include tablet {
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  .resultFlex {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @include tablet {
      width: 90%;
      flex-direction: column;
    }
    .resultImage {
      position: relative;
      min-height: 360px;
      max-width: 550px;
      width: 50%;
      margin-right: 4rem;
      margin-left: 2rem;
      @include tablet {
        width: 89%;
        margin-right: unset;
        margin: auto;
        margin-bottom: 2rem;
      }
      @include phone {
        min-height: 200px;
      }
    }
    .resultInfo {
      width: 50%;
      align-self: flex-start;
      @include tablet {
        width: 90%;
        margin: auto;
      }
      h2 {
        margin-top: 0;
        @include tablet {
          text-align: center;
        }
      }
    }
  }
  .buttonContainer {
    text-align: center;
    margin-top: 4rem;
  }
}
