@import '../../../styles/abstracts/variables';
.container {
  height: 20px;
  width: 100%;
  background-color: #e0e0de;
  border-radius: 50px;
  margin: 10px;
  .filler {
    height: 100%;
    border-radius: inherit;
    text-align: right;

    &.primary {
      background-color: $primary-color;
      color: $white-text;
    }

    .label {
      padding: 5px;
      color: white;
      font-weight: bold;
    }
  }
}
