@import '../../../styles/abstracts/variables';

.stepper {
  display: flex;
  padding: 0;
  margin: auto;
  width: 80%;
  justify-content: center;
}

.stepperBulletin {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 0 8rem;
}

.active {
  background: $primary-color;
}
.inactive {
  background: lighten($primary-color, 55%);
}

.stepperLine {
  display: inline-block;
  height: 1px;
  margin-top: 1rem;
  min-width: 120px;
  max-width: 240px;
}

.stepperItem {
  display: flex;
  flex-direction: column;
  text-align: center;
  
  h3, p {
    margin: 0;
  }
  
  &:not(:last-child) {
    &:after {
      --circle-size: clamp(1.5rem, 5vw, 2rem);
      --spacing: clamp(0.5rem, 2vw, 0.5rem);
      content: "";
      position: relative;
      top: calc(var(--circle-size) / 2);
      width: calc(100% - var(--circle-size) - calc(var(--spacing) * 2));
      left: calc(50% + calc(var(--circle-size) / 2 + var(--spacing)));
      height: 2px;
      background-color: lighten($primary-color, 55%);
      order: -1;
    }
  }
}
