// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Font family
/// @type List
$primary-font: 'Raleway', sans-serif !default;
$secondary-font: 'Montserrat', sans-serif !default;

/// Colors
/// @type Color
$primary-color: #4c12a1 !default;
$secondary-color: #45e5b7 !default;
$white-text: #fdfdfd !default;
$grey-text: #5f6368 !default;
$white-bg: #fdfdfd !default;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 480px,
  'medium': 768px,
  'large': 1024px
) !default;
