@import '../../../styles/abstracts/mixins';
@import '../../../styles/abstracts/variables';

.container {
  .title {
    font-weight: 800;
    font-size: 2rem;
    color: $primary-color;
    text-align: center;
    position: relative;
    margin-bottom: 5rem;
  }
  .titleLine {
    font-weight: 800;
    font-size: 2rem;
    color: $primary-color;
    text-align: center;
    position: relative;
    margin-bottom: 5rem;
    &::after {
      display: block;
      content: '';
      width: 100px;
      border-radius: 50px;
      height: 3px;
      background: $secondary-color;
      position: absolute;
      top: 120%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .heroSection {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .carouselItem {
      background: linear-gradient(270deg, #240a50 0%, #7f4fa8 100%);
    }
    .heroContentContainer {
      display: flex;
      width: 80%;
      margin: auto;
      height: 100vh;
      justify-content: center;
      align-items: center;

      @include tablet {
        flex-direction: row-reverse;
      }
      @include phone {
        justify-content: flex-end;
      }
      .texts {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $white-text;
        @include phone {
          width: 100%;
          max-width: 280px;
        }
        h1 {
          margin: 0;
        }
        hr {
          margin: 2rem 0;
          width: 100px;
          border: 2px solid $secondary-color;
          border-radius: 5px;
        }
        .titleHero {
          color: $tertiary-color;
          font-weight: 700;
          margin-bottom: 4px;
          font-size: 4rem;
          &.tertiary {
            color: $tertiary-color;
          }
          &.quaternary {
            color: $quaternary-color;
          }
        }
        .tagLine {
          font-size: 4rem;
          font-weight: 700;
        }
        .secondTitle {
          font-size: 1.5rem;
          font-weight: 500;
          margin: 0;
        }
        .desc {
          font-size: 1.2rem;
        }
        @keyframes bounce {
          0% {
            transform: translateY(0);
          }
          30% {
            transform: translateY(-8px);
          }
          50% {
            transform: translateY(0);
          }
          100% {
            transform: translateY(0);
          }
        }
        .arrow {
          cursor: pointer;
          width: 24px;
          margin: 2rem auto 0 45%;
          animation-name: bounce;
          animation-timing-function: ease;
          animation-iteration-count: infinite;
          animation-duration: 2s;
          transform-origin: bottom;
          .arrowImg {
            width: 24px;
          }
        }
      }
      .imgContainer {
        width: 60%;
        height: 70%;
        position: relative;
        @include tablet {
          width: 100%;
          margin-left: -100%;
          margin-right: 2rem;
        }
        @include phone {
          display: none;
        }
      }
    }
  }

  .intersection {
    background-color: $secondary-color;
    padding: 2rem 0;
    position: relative;
    @include tablet {
      padding: 4rem 0;
    }
    .container {
      display: flex;
      align-items: center;
      @include tablet {
        justify-content: center;
      }
      .imageContainer {
        width: 40%;
        @include tablet {
          display: none;
        }
      }

      .texts {
        text-align: center;
        width: 50%;
        @include tablet {
          width: 80%;
        }
        h2 {
          color: $primary-color;
          font-size: 3rem;
          font-weight: 800;
          font-family: $primary-font;
          &:nth-child(2) {
            font-weight: 400;
            font-family: $secondary-font;
            color: $white-text;
          }
          @include tablet {
            font-size: 2rem;
          }
        }
      }
      .logogramContainer {
        position: absolute;
        right: 0;
        bottom: -4px;
        @include tablet {
          width: 30%;
        }
      }
    }
  }

  .solutionsSection {
    .swipper {
      height: 420px;
      max-width: 1024px;
      @include tablet {
        width: 90%;
      }
      @include phone {
        height: unset;
      }
      .swipperSlide {
        display: flex;
        @include phone {
          width: 80%;
        }
        .content {
          background: rgba(0, 0, 0, 0.5);
          position: absolute;
          bottom: 0px;
          padding: 1.5rem;
          height: 60%;
          width: 100%;
          box-sizing: border-box;
          overflow: hidden;
          text-overflow: ellipsis;
          h3 {
            margin-top: 0.5rem;
            margin-bottom: 0;
            font-size: 1.4rem;
          }
        }
      }
    }
  }
  .analyticsSection {
    .cards {
      .image {
        width: 171px;
        height: 171px;
        margin: 50px auto;
        @include phone {
          width: 150px;
          height: 150px;
        }
      }
      .cardContent {
        min-height: 300px;
        @include phone {
          min-height: 220px;
        }
      }
      .footer {
        position: absolute;
        bottom: 2.5rem;
      }
    }
  }
  .newInnovationsSection {
    position: relative;
    .container {
      height: 100vh;

      .image {
        opacity: 0.5;
      }
      .cardContainer {
        position: absolute;
        left: 20vw;
        top: 11%;

        @include tablet {
          left: 0;
          right: 0;
          margin: auto;
        }

        h2 {
          color: $secondary-color;
          z-index: 3;
          font-size: 2.5rem;
          font-weight: 800;
          text-align: center;
        }

        .card {
          width: 350px;
          height: 60vh;
          max-height: 400px;

          .cardContent {
            padding: 4rem 3rem;
            .footer {
              position: absolute;
              bottom: 4rem;
            }
          }
        }
      }
    }
  }
}
.cards {
  display: grid;
  justify-content: center;
  gap: 5rem;
  grid-template-columns: repeat(3, minmax(0, auto));
  @include tablet {
    grid-template-columns: repeat(2, minmax(0, auto));
    gap: 3rem;
  }
  @include phone {
    grid-template-columns: repeat(1, minmax(0, auto));
    gap: 2rem;
  }
}

.sectionPadding {
  padding: 6rem 0 10rem 0;
  @include tablet {
    padding: 4rem 0 7rem 0;
  }
}
