@import '../../../styles/abstracts/variables.scss';
@import '../../../styles/abstracts/mixins.scss';

.pinInputWrapper {
  margin: 2rem auto;
  text-align: center;
  width: 55%;
  max-width: 800px;
  @include tablet {
    width: 70%;
  }
  @include phone {
    width: 90%;
  }
}

.buttonWrapper {
  text-align: center;
}

.warningMsg {
  font-size: 1rem;
  color: #bf1650;
  text-align: center;
  margin-bottom: 1rem;
}

.activationSuccess {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  .initBalance {
    font-weight: 800;
    font-size: 2rem;
    color: $primary-color;
  }
}
