@import '../../../styles/abstracts/variables.scss';
@import '../../../styles/abstracts/mixins.scss';

.downloadAppWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  margin: auto;
  .downloadBanner {
    font-size: 1.75rem;
    font-weight: 800;
    color: $primary-color;
    text-align: center;
    @include phone {
      margin-top: 1rem;
      font-size: 1.25rem;
    }
  }
  .storeMessage {
    font-size: 1.25rem;
    margin-top: 0.25rem;
    margin-bottom: 1.25rem;
  }
  .badgeWrappers {
    display: flex;
    flex-direction: row;
    @include phone {
      flex-direction: column;
    }

    .endItem {
      margin-left: 1rem;
      margin-top: 0;
      @include phone {
        margin-left: 0;
        margin-top: 0.75rem;
      }
    }
  }
}
